<div align="center">
  <div class="color">
    <br>
    <br>
    <br>
<h4>New request</h4>

<%= render "form", request: @request %>

<br>

<div>
  <%= link_to "Back to requests", requests_path, class: "btn btn-info btn sm" %>
</div>
</div>
</div>
<style>
    .color
    {
        color: #F7F7F7;
    }
</style>